* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80%;
  background-image: url(images/block1.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.dot-line {
  border: 1px dashed white;
  height: 13%;
  margin-top: -0.1%;
  margin-left: -0.1%;
  margin-right: -0.1%;
  margin-bottom: 1%;
  border-bottom: 1px dashed white;
}

.socials {
  font-size: 110%;
  padding-left: 6.45%;
  padding-top: 1%;
}

.socials li {
  list-style: none;
  display: inline-block;
  padding: 0.68% 1% 0% 0%;
  color: white;
  /* margin: 0px; */
  cursor: pointer;
}

.contact {
  float: right;
  margin-right: 5%;
  margin-top: -1.8%;
}
.contact li {
  font-size: 106%;
  list-style: none;
  display: inline-block;
  padding: 5px 20px 0px 0px;
  color: #eee;
  cursor: pointer;
}

.nav {
  list-style: none;
  color: white;
  margin-top: 1.56%;
}

.nav options {
  padding: -5px -5px;
}
.nav li {
  list-style: none;
  float: right;
  margin: 1px 1px 1px 1px;
  margin-right: 6%;
  padding: 1px 1px 1px 1px;
  margin-top: -15px;
}

.L {
  margin-left: 6.56%;
}
.tree-img {
  width: 2.4%;
  height: 5.5%;
  /* padding-right: 0px; */
}

.logo-img {
  padding: 0% 0% 0.2% 1%;
  margin-top: 0.2%;
}

.navbar {
  float: right;
  margin-right: 5%;
  overflow: hidden;
  margin-top: -2%;
  cursor: pointer;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 18px 15px 20px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 13px 17px 10px 21px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn:hover {
  border: 1px solid white;
  border-radius: 13%;
}

.subnav-content {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 20%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav:hover .subnav-content {
  display: block;
}

.info {
  margin-top: 10%;
  font-size: 60px;
  color: white;
  text-align: center;
  align-items: center;
}

.i1 {
  font-family: "Brush Script MT", cursive;
  font-style: italic;
}
.i2 {
  font-size: 67%;
  font-weight: 700;
  font-family: sans-serif;
}

.fa-phone-alt:before {
  content: "\f879";
  padding-left: 0%;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0%;
  padding-bottom: 8px;
}

.fab,
.far {
  padding-left: 0%;
  font-weight: 400;
  padding-right: 18px;
}

.h-b {
  cursor: pointer;
  font-family: monospace;
  background-color: white;
  border: none;
  font-weight: 900;
  color: forestgreen;
  padding: 1% 1% 1% 1%;
  text-align: center;
  margin-top: 4%;
  text-decoration: none;
  font-size: 25%;
  border-radius: 12px;
}

.h-b:hover {
  background-color: darkgray;
  transition-delay: 0s;
}

.content {
  margin-top: 6%;
  border: 1px solid green;
  width: 86%;
  height: 40%;
  margin-left: 6%;
  justify-content: space-between;
}
p {
  color: forestgreen;
  font-size: 25px;
  font-weight: 600;
  font-family: system-ui;
  margin-left: 34%;
  padding-top: 1%;
}
p:hover {
  color: black;
  transition-delay: 0s;
  cursor: default;
}

.content li {
  font-weight: 500;
  margin-left: 94px;
  list-style: none;
  display: inline-block;
  margin-top: 10px;
  margin-right: -5%;
}

p1 {
  margin-left: 34%;
  text-align: justify;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  padding-top: 8px;
  padding-right: 4%;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.pic {
  width: 348px;
  height: 281px;
  float: left;
  padding-block: 0%;
}

.Readbtn {
  margin-left: 94px;
  background-color: white;
  border: 2px solid green;
  color: green;
  padding: 8px 16px;
  text-align: center;
  margin-top: 0%;
  font-size: 16px;
  border-radius: 0%;
  font-weight: 600;
}

.Readbtn:hover {
  background-color: green;
  transition-delay: 0s;
  color: white;
  transition-delay: 0s;
  cursor: pointer;
}

.time {
  margin-top: 40%;
  border: 1px solid green;
  width: 100%;
  height: 15%;
  background-color: green;
  padding: 21px 0px 16px 19px;
}
h4 {
  color: white;
  padding-top: 0%;
  margin-top: 1.556%;
  margin-left: 11%;
  font-size: 110%;
  float: left;
  font-family: sans-serif;
}

.slots {
  color: white;
  margin-left: 30%;
}

.s1 {
  width: 10%;
  height: 100%;
  float: left;

  text-align: center;
  padding-top: 10px;
}

.s1 li {
  list-style: none;
  line-height: 150%;
}

.s2 {
  width: 10%;
  height: 100%;
  float: left;

  text-align: center;
  padding-top: 4px;
}

.s2 {
  border-left: 1px solid white;
  height: 80%;
  margin-top: 8px;
}

.s2 li {
  list-style: none;
  padding: 1px 5px 3px 10px;
}

.s3 {
  width: 10%;
  height: 100%;
  float: left;

  text-align: center;
  padding-top: 4px;
}

.s3 {
  border-left: 1px solid white;
  height: 80%;
  margin-top: 8px;
}

.s3 li {
  list-style: none;
  padding: 1px 5px 3px 10px;
}

.s4 {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 4px;
}

.s4 {
  border-left: 1px solid white;
  height: 80%;
  margin-top: 8px;
}

.s4 li {
  list-style: none;
  padding: 1px 5px 3px 10px;
}

.s5 {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 10px;
}

.s5 {
  border-left: 1px solid white;
  height: 80%;
  margin-top: 8px;
  padding: 5px 5px 10px 10px;
}

.s5 li {
  list-style: none;
  padding: 0px 0px 3px 0px;
}

.s6 {
  width: 10%;
  height: 100%;
  float: left;

  text-align: center;
  padding-top: 4px;
}

.s6 {
  border-left: 1px solid white;
  height: 80%;
  margin-top: 8px;
}

.s6 li {
  list-style: none;
  padding: 0px 4px 4px 6px;
}

.res {
  width: 100%;
  height: 50%;
  background-color: black;
  padding: 12px 12px 12px 12px;
}

.col1 {
  margin-left: 50px;
  margin-top: 50px;
  width: 30%;
  height: 100px;
  float: left;
}

.G {
  font-size: 150%;
  color: green;
}

.col1 li {
  list-style: none;
  margin-top: 20px;
  color: white;
}

.col2 {
  padding: 0px 0px 0px 87px;
  margin-top: 50px;
  width: 25%;
  height: 204px;
  float: left;
}
.col2 li {
  list-style: none;
  margin-top: 5.9%;
  color: white;
}

.F {
  font-size: 28px;
  color: green;
}

.col3 {
  margin-top: 50px;
  width: 30%;
  height: 100px;
  float: right;
  top: 0;
}
.col3 li {
  list-style: none;
  margin-top: 20px;
  color: white;
}

.N {
  font-size: 28px;
  color: green;
}

form {
  color: black;
  background-color: black;
}

.container {
  margin-top: -4%;
  padding: 20px 0px 11px 10px;
  background-color: black;
  margin-left: -2%;
}

input[type="text"],
input[type="submit"] {
  width: 60%;
  padding: 12px;
  margin: 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 5px;
}

input[type="submit"] {
  cursor: pointer;
  background-color: #04aa6d;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.W {
  font-size: 10px;
}

.copy {
  width: 100%;
  height: 40px;
  background-color: white;
  text-align: center;
  padding-top: 1%;
}
